@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --blanco: rgba(255, 255, 255, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-image: url(imagenes/222323.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

body::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

body > * {
    position: relative;
    z-index: 2;
}

.Reproductormp3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    width: 350px;
    padding: 9px 20px;
    border-radius: 20px;
    background-color: var(--blanco);
}

.Reproductormp3 h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.6;
}

.Reproductormp3 h3 {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
}

#progreso {
    appearance: none;
    width: 100%;
    height: 7px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 32px 0 24px;
    cursor: pointer;
}

#progreso::-webkit-slider-thumb {
    appearance: none;
    background-color: rgba(255, 230, 0, 0.8);
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 6px solid rgba(90, 90, 90, 0.8);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

.controles {
    display: flex;
    justify-content: center;
}

.controles button {
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    outline: 7px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 230, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 1);
    font-size: 30px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
    cursor: pointer;
    transform: scale(1.3);
}

.controles button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.4);
}
